#container{
    position: relative;
    border: 2px solid black;
    margin: auto;
    background-color: black;
    height: 40vw;
    width:40vw;
    background: url(image.png) no-repeat;
    background-size: 100%;

}
#hour,#minute,#second{
    position: absolute;
    background-color: black;
    border: 1px solid black;
    border-radius: 1px;
    
}   
#hour{
    height: 8vw;
    width: 0.3vw;
    top: 12vw;
    left: 19.8vw;
    transform-origin: bottom;
   
}
#minute{
    height: 12vw;
    width: 0.2vw;
    top: 8vw;
    left: 19.9vw;
    transform-origin: bottom;
   

}
#second{
       height: 17vw;
    width: 0.1vw;
    top: 3vw;
    left: 19.95vw;
    transform-origin: bottom;
}